In [11]:
import pandas as pd
df=pd.read_csv(r"C:\Users\ABHISHEK YADAV\OneDrive\Desktop\crime_dataset_india.csv")
df
df['Ranking'] = df['Crime Code'].rank(
    ascending=False,
    method='dense'
).astype(int)

df.sort_values(by='Ranking', inplace=True)
t=df.head(10)
t

# df.head(10)

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed,Ranking
24074,24075,30-09-2022 10:00,09-30-2022 02:00,30-09-2022 17:10,Bangalore,599,VANDALISM,73,X,NaN,Other Crime,9,Yes,06-11-2022 10:00,1
37410,37411,09-04-2024 22:00,04-07-2024 18:00,07-04-2024 22:25,Hyderabad,599,DOMESTIC VIOLENCE,34,M,NaN,Violent Crime,12,Yes,21-04-2024 22:00,1
16685,16686,26-11-2021 20:00,11-26-2021 05:00,26-11-2021 05:25,Bangalore,599,IDENTITY THEFT,55,X,NaN,Violent Crime,12,Yes,11-01-2022 20:00,1
32852,32853,03-10-2023 15:00,09-30-2023 20:00,01-10-2023 12:30,Bangalore,599,HOMICIDE,28,F,Poison,Other Crime,12,Yes,03-04-2024 15:00,1
29247,29248,06-05-2023 13:00,05-03-2023 15:00,04-05-2023 13:33,Delhi,599,IDENTITY THEFT,54,M,NaN,Violent Crime,12,No,NaN,1
11550,11551,28-04-2021 20:00,04-26-2021 06:00,27-04-2021 04:48,Jaipur,599,ASSAULT,77,F,NaN,Violent Crime,10,Yes,23-06-2021 20:00,1
8457,8458,21-12-2020 06:00,12-18-2020 09:00,18-12-2020 12:49,Bangalore,599,HOMICIDE,28,F,Blunt Object,Other Crime,13,Yes,26-07-2021 06:00,1
30771,30772,07-07-2023 05:00,07-06-2023 03:00,06-07-2023 09:53,Ghaziabad,599,TRAFFIC VIOLATION,78,M,NaN,Traffic Fatality,13,No,NaN,1
19883,19884,10-04-2022 03:00,04-08-2022 11:00,08-04-2022 11:22,Indore,599,BURGLARY,25,X,Explosives,Other Crime,16,Yes,24-06-2022 03:00,1
9248,9249,20-01-2021 18:00,01-20-2021 08:00,20-01-2021 11:54,Mumbai,599,EXTORTION,67,F,Explosives,Other Crime,10,Yes,31-03-2021 18:00,1

In [15]:
# t['Victim Gender'].value_counts()['F']
# t['Victim Gender'].value_counts()['M']
t['Victim Gender'].value_counts()['X'] # for top 10 crome code (gender)

# p=pd.DataFrame(t)
# p

np.int64(3)

In [17]:
# df['Victim Gender'].value_counts()['M']    to all data
# df['Victim Gender'].value_counts()['F']   to all data
df['Victim Gender'].value_counts()['X'] #to all data
df[df['Victim Gender']=='F']

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed,Ranking
32852,32853,03-10-2023 15:00,09-30-2023 20:00,01-10-2023 12:30,Bangalore,599,HOMICIDE,28,F,Poison,Other Crime,12,Yes,03-04-2024 15:00,1
11550,11551,28-04-2021 20:00,04-26-2021 06:00,27-04-2021 04:48,Jaipur,599,ASSAULT,77,F,NaN,Violent Crime,10,Yes,23-06-2021 20:00,1
8457,8458,21-12-2020 06:00,12-18-2020 09:00,18-12-2020 12:49,Bangalore,599,HOMICIDE,28,F,Blunt Object,Other Crime,13,Yes,26-07-2021 06:00,1
9248,9249,20-01-2021 18:00,01-20-2021 08:00,20-01-2021 11:54,Mumbai,599,EXTORTION,67,F,Explosives,Other Crime,10,Yes,31-03-2021 18:00,1
29239,29240,05-05-2023 01:00,05-03-2023 07:00,04-05-2023 05:38,Mumbai,599,DRUG OFFENSE,31,F,NaN,Other Crime,3,Yes,18-07-2023 01:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10614,10615,19-03-2021 23:00,03-18-2021 06:00,18-03-2021 12:49,Mumbai,100,DOMESTIC VIOLENCE,25,F,Explosives,Violent Crime,5,No,NaN,500
11621,11622,29-04-2021 09:00,04-29-2021 05:00,30-04-2021 03:23,Pune,100,COUNTERFEITING,29,F,Blunt Object,Other Crime,18,No,NaN,500
35339,35340,14-01-2024 20:00,01-12-2024 11:00,13-01-2024 01:05,Chennai,100,SHOPLIFTING,35,F,Knife,Other Crime,9,Yes,01-02-2024 20:00,500
35278,35279,12-01-2024 08:00,01-09-2024 22:00,10-01-2024 13:09,Indore,100,COUNTERFEITING,52,F,NaN,Other Crime,4,No,NaN,500
7027,7028,21-10-2020 14:00,10-19-2020 19:00,20-10-2020 16:26,Visakhapatnam,100,FRAUD,74,F,Explosives,Other Crime,5,No,NaN,500